from litestar import Router

from {{ importname }}.api.routes.ping.router import router as ping_router
from {{ importname }}.api.routes.sse.router import router as sse_router

router = Router(
    path="/",
    route_handlers=[
        ping_router,
        sse_router,
    ],
)
