---
slug: /
title: Index
---

# {{ projectname }}

{{ description }}

## 💡 About

Treat this as the landing page for people
that want to **use** your project.

Write here whatever you want to tell them.
