---
slug: /usage
title: Usage
---

## Ping

You can check the status of the service by sending
either a `GET` or `HEAD` request to the `/ping` endpoint.
The service should respond with a `204 No Content` status code.

For example, you can use `curl` to do that:

```sh
curl \
    --request HEAD \
    --head \
    http://localhost:{{ port }}/ping
```
{%- if events and sse %}

## Server-Sent Events

You can subscribe to the Server-Sent Events (SSE) by sending
a `GET` request to the `/sse` endpoint.
The service will send you the events as they happen.

For example, you can use `curl` to do that:

```sh
curl \
    --request GET \
    --no-buffer \
    http://localhost:{{ port }}/sse
```
{%- endif %}
