#!/usr/bin/env bash

# reload when these files change
watch_file ./*.nix flake.lock

# activate the default development shell in the current shell
# --accept-flake-config will accept the nix configuration from the flake without prompting
eval "$(nix print-dev-env . --accept-flake-config)" || true
