from typing import Annotated

from pydantic import Field

from {{ importname }}.models.events import bar as be
from {{ importname }}.models.events import foo as fe

type Event = Annotated[be.BarEvent | fe.FooEvent, Field(discriminator="type")]
