from typing import Literal

from pydantic import Field

from {{ importname }}.models.base import SerializableModel
from {{ importname }}.models.events.enums import EventType
from {{ importname }}.models.events.fields import CreatedAtField, DataField, TypeField
from {{ importname }}.utils.time import awareutcnow


class TestEventData(SerializableModel):
    """Data of a test event."""

    message: str
    """Message of the test event."""


class TestEvent(SerializableModel):
    """Event that is emitted for testing purposes."""

    type: TypeField[Literal[EventType.TEST]] = EventType.TEST
    created_at: CreatedAtField = Field(default_factory=awareutcnow)
    data: DataField[TestEventData]
