from contextlib import AbstractAsyncContextManager
from types import TracebackType
from typing import cast, override

from litestar import Litestar

from {{ importname }}.state import State


class Lifespan(AbstractAsyncContextManager):
    """Base class for lifespans."""

    def __init__(self, app: Litestar) -> None:
        self.app = app

    @property
    def state(self) -> State:
        """App state."""
        return cast("State", self.app.state)


class TestLifespan(Lifespan):
    """Lifespan for testing purposes."""

    @override
    async def __aenter__(self) -> None:
        return

    @override
    async def __aexit__(
        self,
        exception_type: type[BaseException] | None,
        exception: BaseException | None,
        traceback: TracebackType | None,
    ) -> None:
        return
