from typing import Any, Self

from pydantic import (
    ModelWrapValidatorHandler,
    RootModel,
    ValidationError,
    model_validator,
)

from {{ importname }}.api.exceptions import BadRequestException


class Validator[T](RootModel[T]):
    """Validates input data."""

    @model_validator(mode="wrap")
    @classmethod
    def validator(cls, data: Any, handler: ModelWrapValidatorHandler[Self]) -> Self:
        """Validate input data."""
        try:
            return handler(data)
        except ValidationError as ex:
            raise BadRequestException(extra=ex.errors(include_context=False)) from ex

    @classmethod
    def validate_object(cls, data: Any) -> T:
        """Validate an object."""
        return cls.model_validate(data).root

    @classmethod
    def validate_json(cls, data: str) -> T:
        """Validate a JSON string."""
        return cls.model_validate_json(data).root
