{
  "configurations": [
    {
      "justMyCode": false,
      "module": "{{ importname }}",
      "name": "{{ servicename }}",
      "request": "launch",
      "type": "debugpy"
    }
  ],
  "version": "0.2.0"
}
