version: 0.1
cli:
  version: 1.22.8
plugins:
  sources:
    - id: trunk
      ref: v1.6.7
      uri: https://github.com/trunk-io/plugins
runtimes:
  enabled:
    # Needed for gitleaks, shfmt
    - go@1.23.6
    # Needed for {% if docs %}eslint, {% endif %}markdownlint, prettier{% if docs %}, svgo{% endif %}
    - node@22.14.0
    # Needed for black, ruff, yamllint
    - python@3.12.2
lint:
  ignore:
    - linters: [ALL]
      paths:
        # Ignore copier answers file
        - "**/.copier-answers.yaml"
  definitions:
    # Nix formatting check (local)
    - name: nix-fmt-check
      files: [nix]
      commands:
        - output: pass_fail
          read_output_from: stderr
          run: >-
            nix
            --accept-flake-config
            --extra-experimental-features
            'nix-command flakes'
            --no-warn-dirty
            fmt
            --
            --check
            ${target}
          success_codes: [0, 1]
    # Nix flake check (local)
    - name: nix-flake-check
      files: [nix]
      commands:
        - output: pass_fail
          target: ./
          read_output_from: stderr
          run: >-
            nix
            --accept-flake-config
            --extra-experimental-features
            'nix-command flakes'
            --no-warn-dirty
            flake
            check
            path:${target}
          success_codes: [0, 1]
    {%- if docs %}
    # Override default eslint definition
    # Remove after upgrading to eslint 10
    - name: eslint
      commands:
        - name: lint
          run_from: ${parent}
    {%- endif %}
  enabled:
    # GitHub Actions linting
    - actionlint@1.7.7
    # Python formatting
    - black@25.1.0
    {%- if docs %}
    # JavaScript linting
    - eslint@9.20.1
    {%- endif %}
    # Check for whitespace errors
    - git-diff-check
    # Check for secrets in the code
    - gitleaks@8.23.3
    # Dockerfile linting
    - hadolint@2.12.0
    # Markdown linting
    - markdownlint@0.44.0
    # Nix formatting check
    - nix-fmt-check@SYSTEM
    # Nix flake check
    - nix-flake-check@SYSTEM
    # JS, JSON, YAML, Markdown formatting
    - prettier@3.5.1
    # Python linting
    - ruff@0.9.6
    # Shell linting
    - shellcheck@0.10.0
    # Shell formatting
    - shfmt@3.10.0
    {%- if docs %}
    # SVG formatting
    - svgo@3.3.2
    {%- endif %}
    # TOML formatting
    - taplo@0.8.1
    # YAML linting
    - yamllint@1.35.1
