from collections.abc import Sequence

from pydantic import BaseModel, Field

from {{ importname }}.config.base import BaseConfig


class ServerConfig(BaseModel):
    """Configuration for the server."""

    host: str = "0.0.0.0"
    """Host to run the server on."""

    port: int = Field(default={{ port }}, ge=0, le=65535)
    """Port to run the server on."""

    trusted: str | Sequence[str] | None = "*"
    """Trusted IP addresses."""


class Config(BaseConfig):
    """Configuration for the service."""

    debug: bool = True
    """Enable debug mode."""

    server: ServerConfig = ServerConfig()
    """Configuration for the server."""
