from {{ importname }}.models.base import datamodel


@datamodel
class TestRequest:
    """Request to test."""

    message: str
    """Input message."""


@datamodel
class TestResponse:
    """Response for test."""

    message: str
    """Output message."""
