from typing import Optional

import typer

from {{ importname }}.api import AppBuilder
from {{ importname }}.cli import CliBuilder
from {{ importname }}.config import ConfigBuilder, ConfigError
from {{ importname }}.console import EmergencyConsoleBuilder
from {{ importname }}.server import Server

cli = CliBuilder().build()


@cli.command()
def main(
    config_file: Optional[typer.FileText] = typer.Option(
        None,
        "--config-file",
        "-C",
        dir_okay=False,
        help="Configuration file.",
    ),
    config_overrides: Optional[list[str]] = typer.Option(
        None,
        "--config",
        "-c",
        help="Configuration entries.",
    ),
) -> None:
    """Main entry point."""

    emergency = EmergencyConsoleBuilder().build()

    try:
        config = ConfigBuilder(config_file, config_overrides).build()
    except ConfigError as e:
        emergency.print("Failed to load config!")
        emergency.print_exception()
        raise typer.Exit(1) from e

    try:
        app = AppBuilder(config).build()
    except Exception as e:
        emergency.print("Failed to build app!")
        emergency.print_exception()
        raise typer.Exit(2) from e

    try:
        server = Server(app, config)
        server.run()
    except Exception as e:
        emergency.print("Failed to run server!")
        emergency.print_exception()
        raise typer.Exit(3) from e


if __name__ == "__main__":
    cli()
