# Take only files in src into account for language stats
* linguist-vendored
{%- if docs %}
docs/** -linguist-vendored linguist-documentation
{%- endif %}
tests/** -linguist-vendored linguist-documentation
src/** -linguist-vendored
