{
  inputs = {
    nixpkgs = {
      url = "github:NixOS/nixpkgs/nixos-25.05";
    };

    flake-parts = {
      url = "github:hercules-ci/flake-parts";
    };
  };

  outputs = inputs:
    inputs.flake-parts.lib.mkFlake {inherit inputs;} {
      # Import local override if it exists
      imports = [
        (
          if builtins.pathExists ./local.nix
          then ./local.nix
          else {}
        )
      ];

      # Sensible defaults
      systems = [
        "x86_64-linux"
        "i686-linux"
        "aarch64-linux"
        "x86_64-darwin"
        "aarch64-darwin"
      ];

      perSystem = {
        config,
        pkgs,
        system,
        ...
      }: let
        nix = pkgs.nix;
        {%- if docs %}
        node = pkgs.nodejs;
        {%- endif %}
        python = pkgs.python313;
        nil = pkgs.nil;
        task = pkgs.go-task;
        coreutils = pkgs.coreutils;
        trunk = pkgs.trunk-io;
        uv = pkgs.uv;
        cacert = pkgs.cacert;
        copier = pkgs.python313.withPackages (ps: [ps.copier]);
        tini = pkgs.tini;
        su-exec = pkgs.su-exec;
      in {
        # Override pkgs argument
        _module.args.pkgs = import inputs.nixpkgs {
          inherit system;
          config = {
            # Allow packages with non-free licenses
            allowUnfree = true;
            # Allow packages with broken dependencies
            allowBroken = true;
            # Allow packages with unsupported system
            allowUnsupportedSystem = true;
          };
        };

        # Set which formatter should be used
        formatter = pkgs.alejandra;

        # Define multiple development shells for different purposes
        devShells = {
          default = pkgs.mkShell {
            name = "dev";

            packages = [
              nix
              {%- if docs %}
              node
              {%- endif %}
              python
              nil
              task
              coreutils
              trunk
              uv
              cacert
              copier
            ];

            UV_PYTHON = python;
            UV_PYTHON_PREFERENCE = "only-system";

            shellHook = ''
              export TMPDIR=/tmp
            '';
          };

          runtime = pkgs.mkShell {
            name = "runtime";

            packages = [
              python
              uv
              cacert
              tini
              su-exec
            ];

            UV_PYTHON = python;
            UV_PYTHON_PREFERENCE = "only-system";

            shellHook = ''
              export TMPDIR=/tmp
            '';
          };

          lint = pkgs.mkShell {
            name = "lint";

            packages = [
              nix
              {%- if docs %}
              node
              {%- endif %}
              python
              task
              coreutils
              trunk
              uv
              cacert
            ];

            UV_PYTHON = python;
            UV_PYTHON_PREFERENCE = "only-system";

            shellHook = ''
              export TMPDIR=/tmp
            '';
          };

          test = pkgs.mkShell {
            name = "test";

            packages = [
              python
              task
              coreutils
              uv
              cacert
            ];

            UV_PYTHON = python;
            UV_PYTHON_PREFERENCE = "only-system";

            shellHook = ''
              export TMPDIR=/tmp
            '';
          };
          {%- if docs %}

          docs = pkgs.mkShell {
            name = "docs";

            packages = [
              node
              task
              coreutils
            ];

            shellHook = ''
              export TMPDIR=/tmp
            '';
          };
          {%- endif %}
        };
      };
    };
}
