[project]
name = "{{ servicename }}"
version = "0.1.0"
classifiers = ["Private :: Do Not Upload"]
requires-python = "~= 3.13.0"
dependencies = [
  # Defining data models
  "pydantic ~= 2.12.0",
  # Loading configuration
  "pydantic-settings ~= 2.12.0",
  # Building CLIs
  "typer ~= 0.21.0",
  # Pretty-printing in the terminal
  "rich ~= 14.2.0",
  # Main API framework
  "litestar ~= 2.19.0",
  # ASGI server
  "uvicorn[standard] ~= 0.40.0",
  # Timezone data
  "tzdata",
]

[dependency-groups]
dev = [
  # Testing framework
  "pytest ~= 9.0.0",
  # Asyncio support for pytest
  "pytest-asyncio ~= 1.3.0",
  # Containers interface for testing
  "testcontainers ~= 4.13.0",
]

[project.scripts]
{{ servicename }} = "{{ importname }}.__main__:cli"

[build-system]
requires = ["uv_build ~= 0.7.0"]
build-backend = "uv_build"

[tool.pyright]
# Analyze code only in these directories
include = ["src", "tests"]

# Specify the path to the virtual environment
venv = ".venv"
venvPath = "."

# Python version and platform to target
pythonPlatform = "All"
pythonVersion = "3.13"

[tool.pytest.ini_options]
# Remove in the future: https://github.com/pytest-dev/pytest-asyncio/issues/924
asyncio_default_fixture_loop_scope = "function"
