<h1 align="center">{{ servicename }}</h1>

<div align="center">

{{ description }}

[![Lint]({{ repourl }}/actions/workflows/lint.yaml/badge.svg)]({{ repourl }}/actions/workflows/lint.yaml)
[![Test]({{ repourl }}/actions/workflows/test.yaml/badge.svg)]({{ repourl }}/actions/workflows/test.yaml)
[![Image]({{ repourl }}/actions/workflows/image.yaml/badge.svg)]({{ repourl }}/actions/workflows/image.yaml)
{%- if registry %}
[![Registry]({{ repourl }}/actions/workflows/registry.yaml/badge.svg)]({{ repourl }}/actions/workflows/registry.yaml)
{%- endif %}
{%- if docs %}
[![Docs]({{ repourl }}/actions/workflows/docs.yaml/badge.svg)]({{ repourl }}/actions/workflows/docs.yaml)
{%- endif %}

</div>

---

## 💡 About

`{{ servicename }}` is a [`Litestar`](https://litestar.dev) service.
{%- if docs %}

## 📄 Further Reading

More in-depth documentation can be found
[here]({{ docsurl }}).
{%- endif %}

## 💻 Development

Read more about how to develop the project
[here]({{ repourl }}/blob/main/CONTRIBUTING.md).
