version: "3"

tasks:
  template:
    desc: Fetch template updates
    interactive: true
    env:
      GIT_CONFIG_GLOBAL: ""
      GIT_CONFIG_SYSTEM: ""
      PYTHONPATH: ""
    cmds:
      - >
        copier
        update
        --answers-file
        .copier-answers.yaml
        {{ '{{ .CLI_ARGS }}' }}
  flake:
    desc: Update flake.lock
    cmds:
      - >
        nix
        --accept-flake-config
        --extra-experimental-features
        'nix-command flakes'
        --no-warn-dirty
        flake
        update
        {{ '{{ .CLI_ARGS }}' }}
  fmt:
    desc: Format files
    cmds:
      {%- if docs %}
      - task: install-docs-internal
      {%- endif %}
      - >
        trunk
        fmt
        {{ '{{ .CLI_ARGS }}' }}
  lint:
    desc: Lint files
    cmds:
      {%- if docs %}
      - task: install-docs-internal
      {%- endif %}
      - >
        trunk
        check
        {{ '{{ .CLI_ARGS }}' }}
  {%- if docs %}
  remove-docs-node-modules:
    desc: Clean docs node_modules
    dir: docs/
    cmds:
      - >
        rm
        --recursive
        --force
        node_modules/
    status:
      - >
        test
        '!'
        -d
        node_modules/
  install-docs:
    desc: Install docs dependencies
    dir: docs/
    sources:
      - package-lock.json
      - package.json
      - ../flake.lock
      - ../*.nix
      - ../Taskfile.dist.yaml
      - ../{taskfile,Taskfile}.{yaml,yml}
    generates:
      - node_modules/**/*
    cmds:
      - >
        npm
        install
        {{ '{{ .CLI_ARGS }}' }}
  install-docs-internal:
    desc: Install docs dependencies quietly
    internal: true
    dir: docs/
    cmds:
      - task: install-docs
        vars:
          CLI_ARGS: >
            --prefer-offline
            --no-audit
            --no-fund
            --quiet
            --no-progress
  update-docs:
    desc: Update docs dependencies
    dir: docs/
    cmds:
      - task: install-docs-internal
      - >
        npm
        run
        update
        --
        {{ '{{ .CLI_ARGS }}' }}
  test-docs:
    desc: Test docs
    dir: docs/
    cmds:
      - task: install-docs-internal
      - >
        npm
        run
        test
        --
        {{ '{{ .CLI_ARGS }}' }}
  docs:
    desc: Run docusaurus
    dir: docs/
    interactive: true
    cmds:
      - task: install-docs-internal
      - >
        npm
        run
        docs
        --
        {{ '{{ .CLI_ARGS | default "start --host 0.0.0.0" }}' }}
  {%- endif %}
  clean:
    desc: Clean virtualenv
    cmds:
      - >
        rm
        --recursive
        --force
        {{ '{{ .CLI_ARGS }}' }}
        .venv/
    status:
      - >
        test
        '!'
        -d
        .venv/
  install:
    desc: Install package
    sources:
      - flake.lock
      - "*.nix"
      - poetry.lock
      - poetry.toml
      - pyproject.toml
      - Taskfile.dist.yaml
      - "{taskfile,Taskfile}.{yaml,yml}"
    generates:
      - .venv/**/*
    cmds:
      - >
        poetry
        env
        use
        "$(which python)"
      - >
        poetry
        install
        --sync
        --no-interaction
        {{ '{{ .CLI_ARGS }}' }}
  install-internal:
    desc: Install package quietly
    internal: true
    cmds:
      - task: install
        vars:
          CLI_ARGS: "--quiet"
  update:
    desc: Update dependencies
    cmds:
      - task: install-internal
      - >
        poetry
        update
        --no-interaction
        {{ '{{ .CLI_ARGS }}' }}
  lock:
    desc: Update dependencies versions in lock file
    cmds:
      - task: install-internal
      - >
        poetry
        lock
        --no-interaction
        {{ '{{ .CLI_ARGS }}' }}
  bump:
    desc: Bump version
    cmds:
      - task: install-internal
      - >
        poetry
        version
        {{ '{{ .CLI_ARGS | default "minor" }}' }}
  test:
    desc: Run tests
    cmds:
      - task: install-internal
      - >
        poetry
        run
        pytest
        {{ '{{ .CLI_ARGS }}' }}
  run:
    desc: Run the app
    interactive: true
    cmds:
      - task: install-internal
      - >
        poetry
        run
        {{ appname }}
        {{ '{{ .CLI_ARGS }}' }}
  docker:
    desc: Run in docker container
    interactive: true
    cmds:
      - >
        docker
        compose
        up
        --build
        --force-recreate
        --remove-orphans
        {{ '{{ .CLI_ARGS }}' }}
